*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{

    font-family: Arial, Helvetica, sans-serif;
   

}

/* header section */
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0,0,0,0.678);
    margin-top: 0px;
   
}


.header img{
    width: 200px;
    margin-left: 120px;
    margin-top: 10px;
}

.header-right
{
    margin-right: 120px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-right a{
    color: white;
    background-color: #e50914;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

/* hero section */
.hero-section{
    text-align: center;
    margin-top: 10pxpx;
}
.header-right select
{
    padding: 9px;
    border-radius: 5px;
    font-size: 16px;

}
.hero-section 
{
    
    background-color: rgb(0,0,0,0.678);
height: 700px;
    text-align: center;
    font-family: unset;
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(255, 253, 253);
   
}
.hero-section .firstpara
{
    margin-top: 20px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}
.hero-section h2
{
    padding-top: 200px;
}
.container
{
  
   
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/cc73e7c7-7860-4ef4-8fc8-1baf24569d2f/web/IN-en-20260126-TRIFECTA-perspective_90d714e8-acc9-4253-ab46-ca6b349c1989_large.jpg");
    background-color: rgb(0,0,0,0.678);
}
.secoundpara
{
    font-size: 18px;
    color:white;
    text-decoration: none;
    font-weight: 1;
    margin-top: 30px;
}
.formm 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.emaill
{
   width: 400px;
   height: 60px;
   padding: 16px;
  background-color: rgba(0, 0, 0, 0.678);
 border: 1px solid white;
 border-radius: 5px;
}
.buttonn
{
    height: 60px;
    color: white;
    font-size: 1.5rem;
    width: 200px;
    background-color: red;
    font-weight: bold;
    align-items: center;
    margin-top: 24px;
    
}
.trending
{
    background-color: rgb(0,0,0,0.678);
    display: flex;
    /* gap: 30px; */
    justify-content: center;
   
}
span
{
    line-height: 1;
    display: inline-block;
    height: 1em;
    position: relative;
    font-weight: 700;
    color: rgb(65, 65, 65);
    -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    font-size: 5rem;
    padding-left: 50px;
   

}
.trending h2
{
    color: white;
}
.trend
{
    color: white;
    background-color: rgb(0,0,0,0.678);
    padding-left: 100px;
    padding-bottom: 26px;
}
.reasons
{
    background-color: rgb(0,0,0,0.678);


   display: flex;
    justify-content: center;
   gap: 30px;
   padding-left: 100px;
 
    
}
.join
{
    /* background-color: rgb(0,0,0,0.678); */

    margin-top: 30px;
   background-color:  rgb(10 19 73 / 68%);
    box-sizing: border-box;
    color: white;
    width: 280px;
    height: 250px;
    text-align: center;
}
.join h3
{
    padding-top: 30px;
}
.join p
{
    padding-top: 20px;
}
.que
{
    background-color: rgba(68, 67, 67, 0.678);
    color:rgb(255, 250, 250);
    width: 800px;
    height: 60px;
    margin: 4px;
    margin-left: 370px;
   padding-left: 16px;
   font-size: 20px;

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.questions
{
    padding-top: 62px;
    background-color: rgb(0,0,0,0.678);
   
}